{
	admin off
	auto_https off
}

:8081 {
	root * /srv/labello/web
	encode zstd gzip

	@client_config path /labello.client.json
	header @client_config Cache-Control "no-store"

	@index path / /index.html
	header @index Cache-Control "no-cache, must-revalidate"

	file_server
}
