[Unit]
Description=Labello Caddy container

[Container]
ContainerName=labello-web
Image=localhost/labello:current
Pull=never
Pod=labello.pod
StartWithPod=true
Entrypoint=/usr/bin/caddy
Exec=run --config /etc/caddy/Caddyfile --adapter caddyfile
User=labello
Group=labello
ReadOnly=true
ReadOnlyTmpfs=true
NoNewPrivileges=true
DropCapability=all
StopSignal=SIGTERM
StopTimeout=30
LogDriver=journald

[Service]
Restart=on-failure
RestartSec=2
TimeoutStopSec=60
