[Unit]
Description=Labello application pod
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/var/lib/labello/deployments/BLOCKED

[Pod]
PodName=labello
UserNS=keep-id:uid=10001,gid=10001
PublishPort=@LABELLO_BACKEND_IP@:24180:8080/tcp
PublishPort=@LABELLO_BACKEND_IP@:24181:8081/tcp
StopTimeout=300

[Service]
TimeoutStartSec=120
TimeoutStopSec=360

[Install]
WantedBy=default.target
